<head>
    <h1>Users Information</h1>
</head>

<body>
    <!--<a href="/user/new" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign up</a>-->
    <a href="/user/new"><button type="button" class="btn btn-info">Sign in</button></a>
    <div class="container">
        <% @users.each do |user| %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= user.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
                    <p class="card-text"><%= user.description%></p>
                    <a href="/user/modify/:id" class="card-link">Edit</a>
                    <a href="/user/destroy/:id" class="card-link">Delete</a>
                </div>
            </div>    
        <% end %>
    </div>

</body>

